<%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
<%= image_tag "/assets/lesson/title02.png", :class => "title" %>
<%= image_tag "/assets/lesson/description01.png", :class => "description" %>
<div class="space"></div>
<%= image_tag "/assets/lesson/title01.png", :class => "title" %>
<%= image_tag "/assets/lesson/needs.png" %>
<div class="space-half"></div>
<%= image_tag "/assets/lesson/description02.png", :class => "description" %>

<%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
<%= image_tag "/assets/lesson/title03.png", :class => "title" %>
<div class="space-half"></div>
<%= image_tag "/assets/lesson/merit01.png", :class => "description" %>
<%= image_tag "/assets/lesson/merit02.png", :class => "description" %>
<%= image_tag "/assets/lesson/merit03.png", :class => "description" %>

<%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
<%= image_tag "/assets/lesson/title04.png", :class => "title" %>
<%= image_tag "/assets/lesson/voice.png", :class => "description" %>

<%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
<%= image_tag "/assets/lesson/title05.png", :class => "title" %>
<%= image_tag "/assets/lesson/step.png", :class => "description" %>

<%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
<%= image_tag "/assets/lesson/title06.png", :class => "title" %>
<%= image_tag "/assets/lesson/support.png", :class => "description" %>

<%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
<%= image_tag "/assets/lesson/title07.png", :class => "title" %>
<%= link_to(image_tag("/assets/lesson/pricing.png", :class => "description"), "https://docs.google.com/forms/d/1gMZMYwR5zvL-OxKqOt1s92TS7bzKOUbf9-6LGLrK3aY/viewform") %>
