<div id="about">
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title03.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des03.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title02.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des02.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title04.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des04.png", :class => "description" %>
</div>

<div id="teacher">
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/des05.png", :class => "description" %>
</div>

  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title06.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des06.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title07.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des07.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title08.png", :class => "title" %>
  <%#= image_tag "/assets/lesson/new/des08.png", :class => "description" %>
  <div class="main-photo"> <!-- backgroud img-->
    <div class="main-photo-font"><!-- textarea -->
      <h2>平井真哉さん</h2>
    </div>
  </div>
  <section>
    <div class="text-flame">
      <h3 class="sub_ti_01"><img src="/assets/interview/sub_ti_s_01.png" alt="「Macを抱いて寝る日もありました」" width="900" heigth="60"></h3>
      <div class="text-flame_01">
        <div class="text">
          <h4>1.平井さんが侍エンジニア塾でエンジニアを目指そうと決めた理由は何ですか。</h4>
          <p>1年半前、大学3年生で就職活動のまっただ中。漠然と就活をしてる中で「自分のやりたいことは何なのか？」と本気で考えるようになり、ツイッターで交流を増やしていた際に木内さんと出会いました。実は木内さんと同い年なんですけど、その時すでにエンジニアとしてフリーで活躍をされていて。お茶をしたときに、迫力ある夢やビジョンをものすごい勢いで語られました。木内さんは小学校の頃からプログラミングを独学で学んでいって、すでにプロフェッショナルになられていました。圧倒されましたね。同時に僕もこういうアツい生き方をしたいと目覚めました。（笑）それから僕も好きな事を仕事に出来ないか？彼のようにフリーのエンジニアになるのも良いなと考え始めたのがきっかけです。</p>
        </div>
        <div class="photo">
          <img src="/assets/interview/interview01_01.jpg" alt="" width="240" height="180" >
        </div>
      </div>
      <a src="/pages/interview">
      <div class="interview-btn">
        <p>続きはコチラ！</p>
      </div>
      </a>
    </div>
  </section>
  <%= image_tag "/assets/lesson/new/des08_02.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title09.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des09.png", :class => "description" %>

<div id="method">
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/des10_01.png", :class => "description" %>
  <%= image_tag "/assets/lesson/new/des10_02.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/des11.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/des11_02.png", :class => "description" %>
</div>

<div id="reports">
  <div class="row lesson-reports-container">
    <div class="four columns reports-section mobile-four" style="background:url(/assets/reports1.png) repeat-x center">
      <div class="reports-overlay">
        <h2 class="twelve columns reports-section-title">
            <a href="/pages/report1">二週間でプログラミング基礎をマスターする方法</a>
        </h2>
        <span class="twelve columns reports-section-read-more">
            <a href="/pages/report1">Read More</a>
        </span>
      </div>
    </div>
    <div class="four columns reports-section mobile-four" style="background:url(/assets/reports2.jpg) repeat-x center">
      <div class="reports-overlay">
        <h2 class="twelve columns reports-section-title">
            <a href="/pages/report2">二ヶ月でウェブサービスを作る方法</a>
        </h2>
        <span class="twelve columns reports-section-read-more">
            <a href="/pages/report2">Read More</a>
        </span>
      </div>
    </div>
    <div class="four columns reports-section mobile-four" style="background:url(/assets/reports3.jpg) repeat-x center">
      <div class="reports-overlay">
        <h2 class="twelve columns reports-section-title">
            <a href="/pages/report3">二週間でプログラマーとして飯を食う方法</a>
        </h2>
        <span class="twelve columns reports-section-read-more">
            <a href="/pages/report3">Read More</a>
        </span>
      </div>
    </div>
  </div>
</div>

<div id="pricing">
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title12.png", :class => "title" %>  
  <%= image_tag "/assets/lesson/new/des12.png", :class => "description" %>
  <%= link_to(image_tag("/assets/lesson/new/des12_02.png", :class => "description"), "https://docs.google.com/forms/d/1gMZMYwR5zvL-OxKqOt1s92TS7bzKOUbf9-6LGLrK3aY/viewform") %>
  <%= image_tag "/assets/lesson/new/des12_03.png", :class => "description" %>
</div>

  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title13.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des13.png", :class => "description" %>
  <div class="space-big"></div>
  <%= link_to(image_tag("/assets/lesson/new/btn.png", :class => "description"), "https://docs.google.com/forms/d/1gMZMYwR5zvL-OxKqOt1s92TS7bzKOUbf9-6LGLrK3aY/viewform") %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title14.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des14.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/des15.png", :class => "description" %>
  <div class="space-big"></div>
  <%= link_to(image_tag("/assets/lesson/new/btn.png", :class => "description"), "https://docs.google.com/forms/d/1gMZMYwR5zvL-OxKqOt1s92TS7bzKOUbf9-6LGLrK3aY/viewform") %>
  
<div id="voice">
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/des16.png", :class => "description" %>
  <%= image_tag "/assets/lesson/new/des16_02.png", :class => "description" %>
  <div class="space-big"></div>
  <%= link_to(image_tag("/assets/lesson/new/seminar.png", :class => "description"), "http://www.street-academy.com/myclass/561") %>
</div>

<div id="submit">
  <div class="space-big"></div> 
  <%= image_tag "/assets/lesson/new/title17.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des17.png", :class => "description" %>
  <div class="space-big"></div>
  <%= link_to(image_tag("/assets/lesson/new/btn.png", :class => "description"), "https://docs.google.com/forms/d/1gMZMYwR5zvL-OxKqOt1s92TS7bzKOUbf9-6LGLrK3aY/viewform") %>
</div>

