<div id="about">
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title01.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des01.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title02.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des02.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title03.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des03.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title04.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des04.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/des05.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title06.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des06.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title07.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des07.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title08.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des08.png", :class => "description" %>
  <%= image_tag "/assets/lesson/new/des08_02.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title09.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des09.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/des10.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/des11.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title12.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des12.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title13.png", :class => "title" %>  
  <%= image_tag "/assets/lesson/new/des13.png", :class => "description" %>
  <%= image_tag "/assets/lesson/new/des13_02.png", :class => "description" %>
  <%= image_tag "/assets/lesson/new/des13_03.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title14.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des14.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/btn.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title15.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des15.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/des16.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/btn.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/des17.png", :class => "description" %>
  <%= image_tag "/assets/lesson/new/des17_02.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/title18.png", :class => "title" %>
  <%= image_tag "/assets/lesson/new/des18.png", :class => "description" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/new/btn.png", :class => "description" %>
</div>

<div id="voice">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title04.png", :class => "title" %>
  <%= image_tag "/assets/lesson/voice.png", :class => "description" %>
</div>

<div id="method">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title05.png", :class => "title" %>
  <%= image_tag "/assets/lesson/step.png", :class => "description" %>
</div>

<div id="support">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title06.png", :class => "title" %>
  <%= image_tag "/assets/lesson/support.png", :class => "description" %>
</div>

<div id="pricing">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title07.png", :class => "title" %>
  <%= link_to(image_tag("/assets/lesson/pricing.png", :class => "description"), "https://docs.google.com/forms/d/1gMZMYwR5zvL-OxKqOt1s92TS7bzKOUbf9-6LGLrK3aY/viewform") %>

  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title08.png", :class => "title" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/benefit.png", :class => "description" %>
</div>

<div id="submit">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title09.png", :class => "title" %>
  <div class="space-big"></div>
  <%= link_to(image_tag("/assets/lesson/submit.png", :class => "description"), "https://docs.google.com/forms/d/1gMZMYwR5zvL-OxKqOt1s92TS7bzKOUbf9-6LGLrK3aY/viewform") %>
  <div class="space"></div>
  <%= image_tag "/assets/lesson/submit_description.png", :class => "description" %>
</div>

<div class="space-big"></div>
<div class="space-big"></div>
