<%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
<%= image_tag "/assets/lesson/title02.png", :class => "title" %>
<%= image_tag "/assets/lesson/description01.png", :class => "description" %>
<div class="space"></div>
<%= image_tag "/assets/lesson/title01.png", :class => "title" %>
<%= image_tag "/assets/lesson/needs.png" %>
<div class="space-half"></div>
<%= image_tag "/assets/lesson/description02.png", :class => "description" %>

<%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
<%= image_tag "/assets/lesson/title03.png", :class => "title" %>
<div class="space-half"></div>
<%= image_tag "/assets/lesson/merit01.png", :class => "description" %>
<%= image_tag "/assets/lesson/merit02.png", :class => "description" %>
<%= image_tag "/assets/lesson/merit03.png", :class => "description" %>
