<div id="about">
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/title02.png", :class => "title" %>
  <%= image_tag "/assets/lesson/description01.png", :class => "description" %>
  <div class="space"></div>
  <%= image_tag "/assets/lesson/title01.png", :class => "title" %>
  <%= image_tag "/assets/lesson/needs.png" %>
  <div class="space-half"></div>
  <%= image_tag "/assets/lesson/description02.png", :class => "description" %>

  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title03.png", :class => "title" %>
  <div class="space-half"></div>
  <%= image_tag "/assets/lesson/merit01.png", :class => "description" %>
  <%= image_tag "/assets/lesson/merit02.png", :class => "description" %>
  <%= image_tag "/assets/lesson/merit03.png", :class => "description" %>
</div>

<div id="voice">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title04.png", :class => "title" %>
  <%= image_tag "/assets/lesson/voice.png", :class => "description" %>
</div>

<div id="method">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title05.png", :class => "title" %>
  <%= image_tag "/assets/lesson/step.png", :class => "description" %>
</div>

<div id="support">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title06.png", :class => "title" %>
  <%= image_tag "/assets/lesson/support.png", :class => "description" %>
</div>

<div id="pricing">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title07.png", :class => "title" %>
  <%= link_to(image_tag("/assets/lesson/pricing.png", :class => "description"), "https://docs.google.com/forms/d/1gMZMYwR5zvL-OxKqOt1s92TS7bzKOUbf9-6LGLrK3aY/viewform") %>

  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title08.png", :class => "title" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/benefit.png", :class => "description" %>
</div>

<div id="submit">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title09.png", :class => "title" %>
  <div class="space-big"></div>
  <%= link_to(image_tag("/assets/lesson/submit.png", :class => "description"), "https://docs.google.com/forms/d/1gMZMYwR5zvL-OxKqOt1s92TS7bzKOUbf9-6LGLrK3aY/viewform") %>
</div>

<div class="space-big"></div>
<div class="space-big"></div>
