
<div id="method_wrap">
  <header>
    <h1>侍エンジニア塾の「独学メソッド」を無料公開！</h1>
    <p>
      <%= image_tag "/assets/report/ti_01.jpg", :class => "title" ,:width => "960" ,:height => "455" ,:alt => "3ヶ月でプログラミングをマスターし、WEBサービスを作り、フリーランスエンジニアとして自由に働く方法" %>
    </p>
  </header>
  <div class="method_main">
    <%= image_tag "/assets/report/ti_01.gif", :class => "title" ,:width => "960" ,:height => "242" ,:alt => "書籍を買ってプログラミング学習を始めたけど。プログラミングの勉強方法をたくさんググったけど。" %>
    <%= image_tag "/assets/report/ti_01.gif", :class => "title" ,:width => "960" ,:height => "242" ,:alt => "挫折率が10分の1、学習時間が3分の1になります「独学メソッド」を無料で提供することにしました。" %>
    <%= image_tag "/assets/report/ti_02.gif", :class => "title" ,:width => "960" ,:height => "388" ,:alt => "挫折率が10分の1、学習時間が3分の1になります。" %>
    <%= image_tag "/assets/report/ti_03.gif", :class => "title" ,:width => "960" ,:height => "253" ,:alt => "3ヶ月でプログラミングをマスターしWEBサービスを作って自由に働く方法" %>
    <%= image_tag "/assets/report/ti_04.gif", :class => "title" ,:width => "960" ,:height => "215" ,:alt => "プログラミング学習で知っておきたい事" %>
    <%= image_tag "/assets/report/ti_05.gif", :class => "title" ,:width => "960" ,:height => "125" ,:alt => "侍エンジニア塾の塾生が実際に結果を出した、エンジニアになるための手法を具体的に解説しています。" %>
    <%= image_tag "/assets/report/ti_06.gif", :class => "title" ,:width => "960" ,:height => "406" ,:alt => "この「独学メソッド」は数十人ものプログラミング学習を指導して行く過程で、研究・独自開発されたメソッドになっています。" %>
    <%= image_tag "/assets/report/ti_07.gif", :class => "title" ,:width => "960" ,:height => "262" ,:alt => "こちらのフォームにて登録された方には特典" %>
    <%= image_tag "/assets/report/ti_08.gif", :class => "title" ,:width => "960" ,:height => "287" ,:alt => "以下のフォームより「独学メソッド」を手に入れてください。" %>
  </div>
  <div class="method_form">
    <div class="form_frame">
      <form name="asumeru_form" method="post" action="https://1lejend.com/stepmail/kd.php?no=EvHSJqOylu">
        <fieldset>
          <dl class="input_box pkg">
            <dt>
              <label for="touroku_name1" ><span class="require">※</span>氏名</label>
            </dt>
            <dd>
              <label for="touroku_name1">姓:</label>
              <input type="text" name="touroku_name1" id="touroku_name1" value="" class="inputText inputTextShortest dd_01">
            </dd>
            <dd>
              <label for="touroku_name2">名:</label>
              <input type="text" name="touroku_name2" id="touroku_name2" value="" class="inputText inputTextShortest dd_01">
            </dd>
          </dl>
          <dl class="input_box pkg">
            <dt>
              <label for="touroku_mail"><span class="require">※</span>メールアドレス</label>
            </dt>
            <dd> 
              <input type="email" name="touroku_mail" id="touroku_mail" istyle="3" mode="alphabet" value="" class="inputText inputTextLong dd_02">
            </dd>
          </dl>
          <p class="center-text">
            <input type="hidden" name="no" value="EvHSJqOylu">
            <input type="hidden" name="action" value="kakunin">
            <input type="submit" name="submit" value="確定" class="formBtn">
          </p>
        </fieldset>
      </form>
    </div>
  </div>
</div>







<div id="about">
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/title02.png", :class => "title" %>
  <%= image_tag "/assets/lesson/description01.png", :class => "description" %>
  <div class="space"></div>
  <%= image_tag "/assets/lesson/title01.png", :class => "title" %>
  <%= image_tag "/assets/lesson/needs.png" %>
  <div class="space-half"></div>
  <%= image_tag "/assets/lesson/description02.png", :class => "description" %>

  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title03.png", :class => "title" %>
  <div class="space-half"></div>
  <%= image_tag "/assets/lesson/merit01.png", :class => "description" %>
  <%= image_tag "/assets/lesson/merit02.png", :class => "description" %>
  <%= image_tag "/assets/lesson/merit03.png", :class => "description" %>
</div>

<div id="voice">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title04.png", :class => "title" %>
  <%= image_tag "/assets/lesson/voice.png", :class => "description" %>
</div>

<div id="method">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title05.png", :class => "title" %>
  <%= image_tag "/assets/lesson/step.png", :class => "description" %>
</div>

<div id="support">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title06.png", :class => "title" %>
  <%= image_tag "/assets/lesson/support.png", :class => "description" %>
</div>

<div id="pricing">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title07.png", :class => "title" %>
  <%= link_to(image_tag("/assets/lesson/pricing.png", :class => "description"), "https://docs.google.com/forms/d/1gMZMYwR5zvL-OxKqOt1s92TS7bzKOUbf9-6LGLrK3aY/viewform") %>

  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title08.png", :class => "title" %>
  <div class="space-big"></div>
  <%= image_tag "/assets/lesson/benefit.png", :class => "description" %>
</div>

<div id="submit">
  <%= image_tag "/assets/lesson/border.jpg", :class => "border" %>
  <%= image_tag "/assets/lesson/title09.png", :class => "title" %>
  <div class="space-big"></div>
  <%= link_to(image_tag("/assets/lesson/submit.png", :class => "description"), "https://docs.google.com/forms/d/1gMZMYwR5zvL-OxKqOt1s92TS7bzKOUbf9-6LGLrK3aY/viewform") %>
  <div class="space"></div>
  <%= image_tag "/assets/lesson/submit_description.png", :class => "description" %>
</div>

<div class="space-big"></div>
<div class="space-big"></div>
