<!DOCTYPE html>
<html>
<head>
  <title>Sejuku</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">侍エンジニア塾</a>
    <ul class="nav pull-right">
      <li class="active"><a href="">Top</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="/#service">Service</a></li>
      <li><a href="/#contents">Contents</a></li>
      <li><a href="/#events">events</a></li>
      <li><a href="/#lesson">Lesson</a></li>
			<li>
			<% if user_signed_in? %>
				<%= link_to current_user.name, destroy_user_session_path, :method => :delete %>
			<% else %>
				<%= link_to "Facebook login", user_omniauth_authorize_path(:facebook) %>
			<% end %>
			</li>
    </ul>
  </div>
</div>

<div class="container demo-2">
  <%= yield %>
</div>

<div id="footer">
  <p>
  Copyright Samurai Enginer School 2013
  </p>
</div>

</body>
</html>
