<!DOCTYPE html>
<html>
<head>
  <title>侍エンジニア塾.net マンツーマンレッスン</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if ENV['RAILS_ENV'] == "production" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44627319-1', 'sejuku.net');
      ga('send', 'pageview');
    </script>
  <% end %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top lesson">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="#">侍エンジニア塾とは？</a></li>
          <li><a href="#">お客様の声</a></li>
          <li><a href="#">他サービスとの比較</a></li>
          <li><a href="#">最強学習メソッド</a></li>
          <li><a href="#">料金プラン</a></li>
          <li><a href="#">体験申込み</a></li>
        </ul>
      </div>
    </div>
  </div>

  <header>
    <%= image_tag "/assets/lesson/header.jpg" %>
  </header>

  <div class="contents">
    <div class="contents-inner">
      <%= yield %>
    </div>
  </div>

  <footer>
    <%= image_tag "/assets/lesson/footer.gif" %>
  </footer>
</body>
</html>
